<form >
    <h1>DELETANDO CATEGORIA</h1>

    <mat-form-field class="form">
        <mat-label>Nome:</mat-label>
        <input matInput [(ngModel)]="categoria.nome" type="text" name="nome" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição:</mat-label>
        <textarea matInput [(ngModel)]="categoria.descricao"  type="text" name="descricao" disabled></textarea>
    </mat-form-field>

   <div class="buttons">
    <button (click)="delete()"  class="mat-elevation-z8 content-table" mat-stroked-button color="primary" style="color: white;"><mat-icon class="icon-add" style="margin-right: .3rem; margin-bottom: .2rem;">delete</mat-icon>DELETAR CATEGORIA</button>
    <button (click)="cancelar()" class="mat-elevation-z8 content-table" mat-stroked-button color="warn"><mat-icon class="icon-add" style="margin-right: .3rem; margin-bottom: .2rem;">highlight_off</mat-icon>CANCELAR</button>

   </div> 
</form>